html {
    font-size: 62.5%;
    line-height: 1.0;
}
body {
    font-size: 1.5rem;
}
md-card {
  background-color: #fff;
}
h3 {
  font-weight: 400;
}
.demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}
 .demo-select-header {
    display: -webkit-flex;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
 }
 .nav {
    margin: 0;
    padding: 0;
}